@page "/commits"
@using System.Reactive.Linq
@using System.Reactive.Subjects
@using System.Text.RegularExpressions
@using Common
@using Common.Models
@using Common.Services
@using Common.Services.Interfaces
@using Common.Utils
@using Markdig
@using Microsoft.AspNetCore.Components.Forms
@inject IToastService toastService
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject IConsulService ConsulService
@inject ICommitExportService CommitDataExportService
@inject IConfigurationService ConfigService
@inject CommitsStateService CommitsStateService

<StickyFilter>
    <div class="d-flex align-items-center">
        <button class="btn btn-info text-nowrap me-2" @onclick="async () => await SyncCommits()">Sincronizar Commits</button>
        <button class="btn btn-secondary text-nowrap" @onclick="async () => await DownloadCommits()">Baixar para Excel</button>
    </div>
</StickyFilter>

<ProgressBar IsLoading="@CommitsStateService.IsLoading" ProgressValue="@CommitsStateService.ProgressValue" TextColor="black" Height="25px" Label="Buscando commits..." />

@if (commitDataList != null && commitDataList.Any())
{
    var groupedCommits = commitDataList
        .GroupBy(c => c.CommitDate.Date)
        .OrderByDescending(g => g.Key);

    @foreach (var dayGroup in groupedCommits)
    {
        <div class="card mt-3">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">@dayGroup.Key.ToString("dddd, MMMM dd, yyyy")</h5>
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var commit in dayGroup.OrderByDescending(c => c.CommitDate))
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <strong>@commit.ProjectName</strong> - @commit.RepoName - @commit.BranchName
                                <br />
                                <small class="text-muted">@commit.CommitDate.ToString("HH:mm:ss")</small> by <strong>@commit.AuthorName</strong>
                                <br />
                                @((MarkupString)commit.ToHtml(ConfigService.GetConfig()))
                            </div>
                            @if (!string.IsNullOrEmpty(commit.JiraCardID))
                            {
                                <span class="badge bg-secondary clickable-badge" @onclick="() => CopyToClipboard(commit.JiraCardID)"> @commit.JiraCardID </span>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
}
else
{
    <p>Nenhum commit buscado ainda.</p>
}

@code {
    private List<Commit> commitDataList = new List<Commit>();

    protected override async Task OnInitializedAsync()
    {
        await FetchCommits();
    }

    private async Task FetchCommits()
    {
        var config = ConfigService.GetConfig();
        commitDataList = await CommitDataExportService.GetRecentCommitsAsync(config.Username);
    }

    private async Task SyncCommits()
    {
        CommitsStateService.IsLoading = true;
        try
        {
            var progressHandler = new Progress<int>(value =>
            {
                CommitsStateService.ProgressValue = value;
                StateHasChanged();
            });

            await CommitDataExportService.FetchCommitDataAsync(progressHandler);
            toastService.ShowSuccess("Commits sincronizados com sucesso!");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            CommitsStateService.IsLoading = false;
        }
    }

    private async Task DownloadCommits()
    {
        await CommitDataExportService.ExportCommitDataAsync();
    }

    private async Task CopyToClipboard(string jiraCardID)
    {
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", jiraCardID);
        toastService.ShowSuccess($"Copiado {jiraCardID} para a área de transferência!");
    }
}

<style>
    .progress {
        position: relative;
    }

    .progress-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-weight: bold;
    }

    .clickable-badge {
        cursor: pointer;
    }
</style>
